<h1>Hello, Rails!</h1>
<%= link_to "Partidas", posts_path %>
<p>Dada a aleatoriedade de um jogo tipo a Mega Sena as chances de ganhar são de 1 em 50.063.860.</p>

<p>No entanto, a sua diferença para um jogo tipo http://www.freebitcoinlottery.com/ é que o jogo "ganhador" é o mesmo para todos os apostadores da rodada.</p>

<p>Ainda, psicologicamente falando, o ser humano é fraco em escolher distribuições aleatórias, o que favorece "a casa" neste tipo de jogo.</p>

<p>Uma forma de reverter estes efeitos seria uma espécie de "cooperação" entre os jogadores. No entanto, ela seria complicada dada a escala de jogos possíveis, sem a ajuda de alguma tecnologia.</p>

<p>Este app é um protótipo de tal tecnologia que permita a geração de coleções de 6 números únicos de 1 a 60 para cada ação de um usuário, sucessivamente, até completar as 50.063.860 combinações.</p>